:root {
  font-family: Arial, Helvetica, sans-serif;
  --color-bg-light: #fbfafa;
  --color-body-dark: #333;
  --color-text-light: #ffffff;
  --color-text-dark: rgb(77, 77, 77);
  --color-header-green: rgb(186, 248, 178);
  --color-header-lightgreen: rgb(70, 165, 70);

  --color-bg-1: #adffda;
  --color-bg-2: linear-gradient(
    90deg,
    rgba(173, 255, 218, 1) 0%,
    rgba(102, 181, 255, 1) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  place-items: center;
  min-height: 100vh;
  /* color: var(--off-white);
  background-color: grey; */
}

/* Style changes */

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

header,
main,
footer {
  padding: 10px;
}

header,
footer {
  background: var(--color-bg-1);
  background: var(--color-bg-2);
}

main {
  background-color: var(--color-bg-light);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.homeListSection {
  background-color: pink;
  overflow-y: scroll;
}

a {
  text-decoration: underline;
}

button {
  font-weight: bold;
}

input,
select,
option {
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
}

nav {
  display: flex;
  gap: 10px;
}

.footerNav {
  justify-content: space-around;
}

form {
  background-color: var(--color-header-green);
  display: flex;
  flex-direction: column;
  /* min-width: 400px; */
  margin: 0 auto 10px auto;
  padding: 20px 10px;
  gap: 10px;
  border-radius: 5px;
}
.formLabelInput {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.dateUL {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dateLI {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
}

.dateLI > * {
  background-color: rgb(41, 221, 185);
  padding: 10px;
}

.dateHeader {
  border-radius: 50%;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sessionUL {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sessionLI {
  display: flex;
}
